.introduce{
align-content: center;
color: red; 
text-align: center;
}
.Mano{
    color: #ffbad6;
}
.Hiori{
    color: #144384;
}
.Meguru{
    color: #ffe012;
}
.Kogane{
    color: #f84cad;
}
.Mamimi{
     color: #a846fb;
}
.Sakuya{
   color: #006047;
}
.Yuika{
   color: #3b91c4; 
}
.Kiriko{
    color: #d9f2ff;
}
.Kaho{
    color: #e5461c;
}
.Chiyoko{
    color: #f93b90;
}
.Juri{
    color: #ffc602;
}
.Rinze{
    color: #97cbef;
}
.Natsuha{
  color: #90E667;  
}
.Amana{
    color: #f54275;
}
.Tenka{
    color: #e75bec;
}
.Chiyuki{
     color: gray;
}
.Asahi{
     color: #f30100;
}
.Fuyuko{
    color: #5ce626;
}
.Mei{
     color: #ff00ff;
}
.Tooru{
    color: #50d0d0;
}
.Madoka{
    color: #be1e3e;
}
.Koito{
    color: #7967c3;
}
.Hinana{
    color: #ffc639
}
.Nichika{
    color: #a6ceb6;
}
.Mikoto{
    color: #760F10;
}