@media (max-width: 767px){
    .hidden-on-phone{
        display: none; !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .hidden-on-tablet{
        display: none; !important;
    }
}
@media (min-width: 992px){
    .hidden-on-tablet{
        display: none; !important;
    }
}